@import "./../../assets/styles/main.scss";

.contact-form {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;


    &-fields {
        width: 100%;
        padding-bottom: 2em;
        
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__submit {
        height: 40px;
        width: 130px;
        cursor: pointer;
        
        border: solid $light 2px;

        background-color: transparent;
        color: $light;

        &:hover {
            background-color: $primary;
            color: $additional;
            border-color: transparent;
        }
    }
}
