@import "./../../assets/styles/colors.scss";

.user-photo {
  position: relative;

  display: flex;
  justify-content: right;

  width: 243px;
  height: 243px;

  
  margin-top: 13px;
  margin-left: 5px;

  border-radius: 100%;
  background-color: $additional;

  &__image {
    position: relative;
    display: block;

    top: -13px;
    right: -5px;

    // height: calc(100% - 13px);
    // width: calc(100% - 5px);;

    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
}
