@import "./../../assets/styles/colors.scss";

.blog {
    padding-left: 15%;
    padding-right: 15%;

    background-color: $background;

    &__label {
        padding: 1em 0 1em 0;
    }

    &__card {
        padding: 20px 0px;
        
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
