@import './../../assets/styles/main.scss';

.works {
    padding: 0 $page-pagging-x;

    &__title {
        padding-bottom: 1em;
        background-color: $background;
    }

    &__cards { 
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}