@import './../../assets/styles/colors.scss';

.mobile-nav-item {
  width: 100%;
  display: block;

  background-color: $additional;
  color: $dark;

  text-decoration: none;
  text-align: center;

  font-size: 3em;

  &:hover {
      background-color: $primary;
      color: $additional;
  }
}