@import "./../../assets/styles/main.scss";

.work-detail {
    padding-left: $page-pagging-x;
    padding-right: $page-pagging-x;
    
    max-width: 1024px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__title {
        font-weight: bold;
        font-size: 34px;
        line-height: 50px;
    }

    &__meta {
        display: flex;
        gap: 20px;
    }

    &__published {
        background-color: $primary;
        color: #fff;
        padding: 0 10px;
        border-radius: 50px;
        font-weight: 900;
        font-size: 18px;
    }

    &__hubs {
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
    }
    @media screen and (max-width: 768px) {
        & {
            padding-left: $page-pagging-x;
            padding-right: $page-pagging-x;
        }
    }
}

.work-body {
    width: 100%;
    
    &__describe {
        font-size: 1.2em;
    }

    &__image {
        max-width: 100%;

        height: auto;
        width: 80%;
        vertical-align: middle;
        margin: 40px 0;

    }

    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
}
