@import "./../../assets/styles/main.scss";

$svg-menu: url("./../../assets/img/menu/menu.png");

.header {
    min-height: 70px;
    padding-left: $page-pagging-x;
    padding-right: 10px;

    @media screen and (max-width: 769px) {
        padding-right: 0;
    }

    .navigation {
        margin-top: 26px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
        @media screen and (max-width: 769px) {
            display: none;
        }

        &-contact {
            margin-right: 30px;
        }

        &-list {
            display: flex;
            justify-content: flex-end;
            background-color: $background;

            gap: 34px;

        }
    }

    .navigation-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        background-color: $background;
        margin-bottom: 40px;
        padding-right: 0;

        &__list {
            width: 100%;
            padding: 0;

            background-color: $additional;
        }

        @media screen and (min-width: 769px) {
            display: none;
        }
    }
}
