@import "./../../assets/styles/main.scss";

.button-image {
    height: 2em;
    width: 2em;

    padding: 1rem;

    &__image {
        height: 100%;
        width: 100%;

        cursor: pointer;
    }
}
