@import "./../../assets/styles/main.scss";

.recent-posts {
    min-height: 396px;
    padding: 0 $page-pagging-x 0 $page-pagging-x;


    &-cards {
        min-height: 295px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__card {
        background-color: $background;
        padding: 20px;
        border-radius: 5px;
        flex: 1;
    }

    @media only screen and (max-width: 768px) {
        height: auto;

        padding: 0 $mobile-page-padding-x 0 $mobile-page-padding-x;
        &-cards {
            height: auto;
            flex-direction: column;
        }
    }
}
