@import "./../../assets/styles/main.scss";

.user-description {
    max-width: 500px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;

    gap: 27px;

    background-color: $background;

    &__name {
        font-size: 44px;
        font-weight: 600;
        line-height: 60px;
    }

    &__text {
        font-size: 1rem;
        line-height: 23px;
        margin-bottom: 4px;
    }

    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__name {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }
}

.wave {
    -webkit-animation-name: wave-animation;
    animation-name: wave-animation;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;

    @keyframes wave-animation {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(14deg);
        }

        20% {
            transform: rotate(-8deg);
        }
        30% {
            transform: rotate(14deg);
        }
        40% {
            transform: rotate(-4deg);
        }
        50% {
            transform: rotate(10deg);
        }
        60% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
}
